<p>
  jobs works!

  <button class="btn btn-primary float-xs-right" (click)="getJobs()">
    <span class="glyphicon glyphicon-refresh"></span> <span>Refresh</span>
  </button>

</p>
<div class="table-responsive">
  <table id="healthCheck" class="table table-striped">
    <thead>
    <tr>
      <th class="col-md-5">Job Name</th>
      <th class="col-md-2 text-xs-center">Execution Count</th>
      <th class="col-md-2 text-xs-center">Job InstanceID</th>
      <th class="col-md-2 text-xs-center">Launchable</th>
      <th class="col-md-2 text-xs-center">Increamentable</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let job of jobsInfo">
      <td class="text-xs-center"><a>{{job.name}}</a></td>
      <td class="text-xs-center">{{job.executionCount}}</td>
      <td class="text-xs-center">
        <a class="hand">{{job.jobInstanceId}}
          <i class="fa fa-eye"></i>
        </a>
      </td>
      <td>{{job.launchable}}</td>
      <td>{{job.incrementable}}</td>
    </tr>
    </tbody>
  </table>
</div>
